@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:wght@300;500;900&display=swap');

@import url("https://fonts.cdnfonts.com/css/geometria");

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Manrope:wght@200..800&family=Roboto:wght@300;500;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

ul {
    list-style: none;
}

:root {
    --main-blue: #003D64;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding-inline: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;

}

section {
    padding: 120px 0;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.navigation_list {
    display: flex;
    gap: 24px;
}

.burger_menu_items {
    left: -237px;
    padding: 24px;
    position: absolute;
    background-color: #EFF2F6;
    border-radius: 12px;
    border-top-right-radius: 0;
    box-shadow: 0px 5px 17px rgb(99, 99, 99);
    margin-top: 24px;
    animation-duration: 0.5s;
    animation-name: burgerOpacity0;
    opacity: 0;
    display: none;
}



.burger_wrapper-active .burger_menu_items {
    display: block;
    animation-duration: 0.5s;
    animation-name: burgerOpacity1;
    opacity: 1;
}
@keyframes burgerOpacity1 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
@keyframes burgerOpacity0 {
    from {
      opacity: 1;
    }
    
    to {
      opacity: 0;
    }
}

.burger_menu_items a {
    display: block;
    /* width: max-content; */
    max-width: 100%;
}


.navigation_item a:hover {
    color: var(--main-blue);
}

.burger_list {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.navigation_item {
    color: #777E90;
    cursor: pointer;
}

.header_navigation {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.header_right_item {
    border-radius: 100%;
    border: 1px solid;
    padding: 8px;
    color: #777E90;
    border-color: #E6E8EC;
}

.header_right_items:hover {
    background-color: var(--main-blue);
    transition: 0.5s;
    border-color: var(--main-blue);

    a {
        color: #fff;
    }
}

.phone_number {
    display: none;
}

.phone_number a {
    text-decoration: none;
    color: #1D3448;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.header_right_item:hover {
    background-color: var(--main-blue);
    transition: 0.5s;
    border-color: var(--main-blue);

    div {
        color: #fff;
    }
}

.header_right_items {
    border-radius: 1000px;
    border: 1px solid;
    padding: 8px;
    color: #777E90;
    border-color: #E6E8EC;
}

.header_right_items>a {
    text-decoration: none;
    color: #777E90;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger_lines {
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 16px;
    height: 14px;
}

.burger_lines::before,
.burger_lines::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: rgba(119, 126, 144, 1);
    margin: 0 auto;
}

.burger_lines::before {
    top: 0;
    box-shadow: 0 6px 0 rgba(119, 126, 144, 1);
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger_lines::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger_wrapper-active .burger_lines::before {
    top: 6px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger_wrapper-active .burger_lines::after {
    bottom: 6px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
}
.special_features-item,
.header_right_item,
.header_right_items {
    cursor: pointer;
}
.special_features-item.burger_wrapper {
    position: relative;
    display: none;
}

main {
    background-color: #EFF2F6;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 55px;
}

.main_text {
    width: 535px;
}

.main_img {
    max-width: 496px;
    height: auto;
}

.percentage {
    color: var(--main-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10000px;
    background-color: #FCFCFD;
    padding: 8px;
    width: 144px;
}

.main_h1 {
    color: var(--Main-Blue, var(--Main-Blue, #003D64));
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Geometria;
    margin-top: 8px;
}

.main_p {
    color: var(--Neutral-4---Dark-Gray, #777E90);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 35px;
}

.main_btn {
    padding: 16px 18px;
    border-radius: 8px;
    background: var(--Main-Red, #EA0000);
    border: none;
    color: var(--Neutrals-8, #FCFCFD);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.advantages_h1 {
    color: var(--main-blue);
    font-family: Geometria;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

.advantages_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 363px;
    height: 193px;
    border: 2px solid;
    padding: 26px;
    border-radius: 12px;
    border-color: #EFF2F6;
}

.advantages_h3 {
    color: var(--main-blue);
    font-family: Geometria;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 8px;
}

.advantages_p {
    color: #0A1E3299;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.apply_online {
    background-color: #EFF2F6;
}

.apply_h1 {
    color: var(--main-blue);
    font-family: Geometria;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}

span {
    color: #EA0000;
}

.microloan_bank {
    background-color: #fff;
    border-radius: 12px;
    padding: 33px;
}

.microloan_text {
    font-family: Geometria;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--main-blue);
}

.microloan_h3 {
    color: var(--Main-Blue, var(--Main-Blue, #003D64));
    font-family: Geometria;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background-color: #F4F5F6;
    margin-top: 16px;
    margin-bottom: 32px;
}

.microloan_block {
    display: flex;
    justify-content: space-between;
}

.bank_img {
    width: 42.667px;
    height: 42.667px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group label {
    color: rgba(10, 30, 50, 0.60);
    font-family: "Manrope", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form input,
form select {
    width: 100%;
    display: flex;
    padding: 12px 16px 12px 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 1000px;
    border: 1px solid #B1B5C3;
    margin-top: 8px;
}

form input:disabled {
    background-color: #f0f0f0;
}

form button {
    background-color: var(--main-blue);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10000px;
}

form button:hover {
    background-color: var(--main-blue);
}

.microloan_text {
    color: var(--main-blue);
    font-family: Geometria;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.microloan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    gap: 16px;
}

.microloan_joyda {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0064FF;
    border-radius: 12px;
    padding: 33px;
}

.microloan_joyda_text {
    color: #FFF;
    font-family: Geometria;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.joyda_h3 {
    color: #0064FF;
    font-family: Geometria;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background-color: #F4F5F6;
    margin-top: 16px;
}

.joyda_btn {
    color: #0064FF;
    text-align: center;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 100%;
    padding: 16px 24px 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10000px;
    background: #FFF;
    box-shadow: 0px 0px 16.3px 0px rgba(0, 0, 0, 0.35);
    border: none;
}

.joyda_btn-2 {
    display: none;
}

.img_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how_to-get {
    color: var(--main-blue);
    font-family: Geometria;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.how-to_h3 {
    color: var(--Main-Blue, var(--Main-Blue, #003D64));
    font-family: Geometria;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background-color: #Fff;
    margin-top: 16px;
    margin-bottom: 32px;
}

.steps {
    background-color: #fff;
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
}

.credit_steps {
    display: grid;
    gap: 8px;
}

.steps_text {
    color: #23262F;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.through_bank {
    background-color: #EFF2F6;
    border-radius: 12px;
    padding: 33px;
}

.through_bank_blue {
    background-color: #0064FF;
    border-radius: 12px;
    padding: 33px;
}

.microloan_text_blue {
    color: #fff;
    font-family: Geometria;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.how-to_h3_blue {
    color: #0064FF;
    font-family: Geometria;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1000px;
    background-color: #Fff;
    margin-top: 16px;
    margin-bottom: 32px;
}

.step {
    border: 2px solid #00A062;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00A062;
    font-size: 22px;
    font-weight: 700;
}


.callBackForm_wrapper {
    background-color: #EFF2F6;
    padding: 64px 96px;
    border-radius: 12px;
    margin-bottom: 120px;
}

.callBackForm_title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: var(--main-blue);
    line-height: 127%;
    font-family: "Geometria", sans-serif;
}

.callBackForm_subtitle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--main-blue);
    margin-top: 6px;
    line-height: 125%;
    font-family: "Geometria", sans-serif;
}

.callBackForm {
    margin-top: 24px;
}

.callBackForm_wrapper input {
    border: 1px solid #E6E8EC33;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.callBackForm_wrapper label {
    color: var(--main-blue);
}

.callBackForm .form_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 32px;
}

.callBackForm_text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(10, 30, 50, 0.60);
}

footer {
    background-color: #EFF2F6;
}

footer {
    padding-top: 120px;
    padding-bottom: 32px;
}

footer .footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

footer .feedback_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 48px;
    border-radius: 12px;
    background-color: #fff;
    font-family: "Geometria", sans-serif;
    flex-wrap: wrap;
    gap: 64px;
}

footer .feedback_block .feedback_numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 48px;
}

footer .feedback_block .feedback_numbers .feedback_number-wrapper {
    color: var(--main-blue);
}

footer .feedback_block .feedback_numbers .feedback_number-wrapper .feedback_number {
    font-size: 24px;
    font-weight: 500;
}

footer .feedback_block .feedback_numbers .feedback_number-wrapper .feedback_title {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
}

footer .feedback_block .feedback_messengers {
    text-align: end;
}

footer .feedback_block .feedback_messengers-title {
    font-size: 12px;
    font-weight: 500;
    color: var(--main-blue);
}

footer .feedback_block .feedback_messengers-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

footer .feedback_block .feedback_messengers-wrapper .feedback_messenger {
    width: 32px;
    height: 32px;
    border-radius: 7px;
    background-color: var(--main-blue);
    padding: 5px;
}

a:-webkit-any-link {
    color: #353945;
    cursor: pointer;
    text-decoration: none;
}

.footer-400 {
    font-size: 14px;
    font-weight: 400;
    color: #777e90;
}

.footer-500 {
    font-size: 14px;
    font-weight: 500;
    color: #777e90;
}

.main_links-third_column .anticorruption_lines .report_corruption-btn {
    margin-top: 16px;
    display: block;
    max-width: 363px;
    width: 100%;
    border-radius: 90px;
    color: #fff !important;
    background-color: var(--main-blue);
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}

.main_links {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.main_links-left {
    display: flex;
    align-items: start;
    gap: 63px;
}

.address_items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.address_items .address_item {
    max-width: 221px;
    color: #353945;
}

.address_items .address_item .address_title {
    margin-bottom: 8px;
    font-family: "Geometria", sans-serif;
}

.footer_list {
    display: flex;
    align-items: start;
    gap: 31px;
}

.footer_list .footer_list-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main_links-third_column {
    font-family: "Geometria", sans-serif;
    line-height: 100%;
}

.main_links-third_column .helpline_block-item {
    display: flex;
    gap: 32px;
}

.main_links-third_column .helpline_block-item .helpline {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.helpline_block-second {
    margin-top: 24px;
}

.footer_lang {
    margin-top: 43px;
    display: flex;
    align-items: center;
    gap: 12px;
}





























@media (max-width: 1150px) {
    .container {
        max-width: 992px;
    }

    .advantages_block {
        justify-content: center;
        gap: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .header_left {
        gap: 24px;
    }

    .header_right {
        gap: 12px;
    }

    .main_img {
        max-width: 400px;
    }

    .main_h1 {
        font-size: 46px;
    }

    .img_btn img {
        width: 80%;
    }

    footer .feedback_block .feedback_numbers,
    .about_sqbMobile {
        gap: 32px;
    }

    footer .feedback_block .feedback_messengers {
        text-align: start;
    }

    .main_links {
        gap: 60px;
    }

    .main_links-third_column .helpline_block-item {
        gap: 37px;
    }

    .sqbMobile_iso {
        text-align: start;
    }

    .sqbMobile_iso .footer_iso {
        justify-content: start;
    }

    .footer_link-lists {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content;
    }

    .banner-header {
        padding-top: 147px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .navigation_list,
    .header_right_items {
        display: none;
    }

    .main {
        flex-direction: column-reverse;
        padding-block: 32px;
    }

    .main_h1 {
        font-size: 32px;
        font-weight: 700;
    }

    .main_p {
        font-size: 14px;
        font-weight: 400;
    }

    .special_features-item.burger_wrapper {
        display: block;
        border-radius: 100%;
        border: 1px solid;
        padding: 11px;
        color: #777E90;
        border-color: #E6E8EC;
        width: 39px;
        height: 38px;
    }

    .phone_number {
        display: flex;
        align-items: center;
    }

    .main_text {
        width: 100%;
    }

    .microloan {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        gap: 16px;
    }

    .callBackForm_title {
        font-size: 36px;
    }

    .callBackForm_subtitle {
        font-size: 14px;
    }

    .premium_btn {
        margin-top: 15px;
    }

    .callBackForm .form_content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .main_img {
        max-width: 360px;
    }

    .advantages_h3 {
        font-size: 18px;
    }

    .advantages_p {
        font-size: 14px;
    }

    .apply_h1 {
        font-size: 24px;
    }

    .microloan_h3 {
        font-size: 12px;
    }

    .microloan_text {
        font-size: 18px;
    }

    .bank_img {
        width: 32px;
        height: 32px;
    }

    .microloan_joyda_text {
        font-size: 18px;
    }

    .joyda_h3 {
        font-size: 12px;
    }

    .joyda_btn {
        display: none;
    }

    .joyda_btn-2 {
        display: block;
    }

    .how_to-get {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .how-to_h3 {
        font-size: 12px;
    }

    .steps_text {
        font-size: 14px;
    }

    .step {
        width: 32px;
        height: 32px;
        font-weight: 400;
    }

    .microloan_text_blue {
        font-size: 18px;
    }

    .how-to_h3_blue {
        font-size: 12px;
    }

    .callBackForm_wrapper {
        padding: 60px 30px;
    }

    footer {
        padding-top: 74px;
    }

    footer .feedback_block {
        padding: 32px 36px;
    }

    footer .feedback_block .feedback_numbers .feedback_number-wrapper .feedback_number {
        font-size: 32px;
    }

    footer .feedback_block .feedback_numbers .feedback_number-wrapper .feedback_title {
        font-size: 14px;
    }

    .footer_logo img {
        width: 158px;
    }

    footer .main_links-left {
        flex-wrap: wrap;
        gap: 48px;
    }

    .footer_link-lists {
        grid-template-columns: 100%;
    }

    .about_sqbMobile .sqbMobile_download {
        flex-wrap: wrap;
    }

    footer .footer_wrapper {
        gap: 48px;
    }

    .address_items {
        margin-top: 36px;
        flex-direction: column;
    }

    .main_links-third_column .helpline_block-item {
        flex-wrap: wrap;
    }

    .footer_list {
        gap: 11px;
    }

    .main_links {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .main_img {
        width: 270px;
    }

    .callBackForm_wrapper {
        padding: 50px 30px;
    }

    .footer_lang {
        display: none;
    }

    .footer_list {
        flex-wrap: wrap;
    }
}